.editor {
  width: 500px;
  height: 700px;
  box-sizing: border-box;
}
.editor .files {
  display: flex;
}
.editor .files textarea {
  padding: 5px;
  background-color: #eee;
  resize: none;
  overflow: scroll;
}
.editor .files textarea:focus {
  outline: 0;
}
.editor .result {
  min-height: 500px;
  border: 2px ridge grey;
}
